img { 
	display: none; 
}
body { 
	overflow: hidden; 
}
#canvas { 
	position: absolute; 
	top: 0px; 
	left: 0px;
	z-index: 10; 
}
.content{
	
	z-index:100;
}
.content{
	left: 50%;
	top: 50%; 
	height: 334px;
	position: absolute;
	transform: translate(-50%, -50%);
}
#firstDiv{
	width: 420px;
	height:180px;
}
#first{
	color: 	#B4CDCD;
	font-family: STXingkai; 
	font-size:30px;
 	height:33px;
 	
}
#secend{
	color: 	#B4CDCD	;
	font-family: FZShuTi; 
	font-size:20px;
	margin-left:25px;
}
p {
   margin-top:0;
   margin-bottom:0;
}
#touxiang{
	display:none;
	background-image: url("../img/tx.jpg");
	position: absolute;
	z-index:100;
	width:120px;
	height:120px;
	background-size: 100% 100%;
	border-radius: 50%;
	left: 50%;
	position: absolute;
	margin-left:-20px;
	transform: translate(-50%, -50%);
	filter: drop-shadow(1px -1px 10px grey);
	transition:background-size 0.5s;
	
}
#touxiang:hover{
	
	background-size: 110% 110%;
}



